<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky ms-2">
        <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Dashboard</span>
        </h5>
        <ul class="nav flex-column">
            <li class="nav-item d-inline-flex align-items-center">
                <a class="nav-link d-inline-block" [ngClass]="{'active': selectedItem === 'home'}" (click)="selectedItem = 'home'" routerLink="/">
                    <mat-icon inline>home</mat-icon> Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dataset" [ngClass]="{'active': selectedItem === 'dataset'}" (click)="selectedItem = 'dataset'">
                    <mat-icon inline>grid_view</mat-icon> Dataset
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/notification" [ngClass]="{'active': selectedItem === 'notification'}" (click)="selectedItem = 'notification'">
                    <mat-icon inline>notifications</mat-icon> Notification
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/integration" [ngClass]="{'active': selectedItem === 'integrations'}" (click)="selectedItem = 'integrations'">
                    <mat-icon inline>cloud_queue</mat-icon> Integrations
                </a>
            </li>
        </ul>

        <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Account</span>
        </h5>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile" [ngClass]="{'active': selectedItem === 'profile'}" (click)="selectedItem = 'profile'">
                    <mat-icon inline>badge</mat-icon> Profile
                </a>
            </li>
        </ul>
    </div>
</nav>
